* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MIX */
button,
.input {
  background-color: transparent;
  font-weight: bolder;
  color: white;
}

/* BODY */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #6c33a3;
  background-image: linear-gradient(316deg, #6c33a3 80%, #8241b8 74%);
  border-radius: 15px;
  overflow: hidden;
  width: 17rem;
}

.big-container {
  width: 34rem;
  background-color: #6c33a3;
  background-image: linear-gradient(316deg, #6c33a3 80%, #8241b8 74%);
  border-radius: 15px;
  overflow: hidden;
}

.rotate {
  font-size: 1.5rem;
  color: white;
  margin: 20px 10px 20px;
  display: block;
}

.input-field {
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: right;
}
input {
  background-color: transparent;
  border: none;
  outline: none;
  text-align: right;
  font-size: 2rem;
  height: 4rem;
}
input {
  color: white;
}

/* NUMBERS */
.buttons-wapper {
  display: flex;
  flex-direction: row-reverse;
}

button {
  border: 1px solid #d1acf0;
  /* font-size: 1.5rem; */
  padding: 1.2rem;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: rebeccapurple;
}

/*ROMAN NUMBERS */
.digits,
.symbols {
  display: grid;
  grid-template-columns: repeat(4, 68px);
  grid-template-rows: repeat(4, 50px);
}

.numbers {
  background-color: #8241b8;
}

.equations {
  background-color: rgba(0, 0, 0, 0.284);
}

#equalto {
  grid-column: 3/5;
}

/* SCIENTIFC NUMBERS */
.nullsymbols {
  display: none;
}

/* responsiveness */

@media only screen and (max-width: 580px) {
  .rotate {
    visibility: hidden;
  }

  /* .wrapper,
  .big-wrapper {
    width: 100%;
  } */
}

@media (orientation: landscape) {
  .rotate {
    visibility: visible;
  }


}